@import "../../../assets/styles/variables/breakpoints";
@import "../../../assets/styles/variables/colors";

.carousel {
    grid-area: carousel;
    grid-row: 2 / 2;
    padding-bottom: 0.5rem;

    &__card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__card-content {
        flex: 1 1 auto;
        position: relative;
        padding: 1em 3em;
        background-color: $primaryLight;
        font-family: cursive;

        & > div {
            max-width: 90%;
            margin: auto;
        }
        p {
            margin: auto;
        }
    }

    &__prev,
    &__next {
        position: absolute;
        top: 45%;
        cursor: pointer;
        border: none;
        font-size: x-large;
        background-color: $primaryLight;
        color: $text-dark;
        border: 0.5px solid $primaryLight;
        border-radius: 50%;

        &:hover{
            transform: scaleY(1.5);
        }
        
    }

    &__prev {
        left: 3%;
        box-shadow: -2px 0px;
    }

    &__next {
        right: 3%;
        box-shadow: 2px 0px;
    }

    &__card-buttons {
        flex: 0 1 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primaryDark;

        ul {
            list-style-type: none;
            padding: 0;
        }

        .button {
            display: inline;
            padding: 0.3em;
            margin: 0 5px;
            border-radius: 20%;
            cursor: pointer;

            &--inactive {
                background-color: $primayBase;
            }
            &--active {
                background-color: $primaryLight;
            }
        }
    }
}

@media screen and (min-width: $bp-xs) {
    .carousel {
        &__card {
            max-width: 80%;
            margin: auto;
        }
    }
}

@media screen and (min-width: $bp-md) {
    .carousel {
        &__card-content {
            p {
                max-width: 60%;
            }
        }
    }
}

@media screen and (min-width: $bp-lg) {
    .carousel {
        &__card {
            max-width: 70%;
            margin: auto;
        }
    }
}

@media screen and (min-width: $bp-xl) {
    .carousel {
        &__card {
            max-width: 60%;
            margin: auto;
        }
    }
}
