$color-pure-black: black;
$color-pure-white: white;

$colors: (
    primary: (
        lighter: #DEB197,
        light: #e6d5d1,
        main: #e2ceca,
        dark: #c8a79d,
        darker: #4f3f36,
    ),
    secondary: (
        lighter: hsl(195, 14%, 99%),
        light: #e6e6eb,
        main: #d3d5de,
        dark: #d1d5e6,
        darker: #92949d,
    ),
);
