$color-pure-black: black;
$color-pure-white: white;
$color-grey: #eeeeee;

$colors: (
    primary: (
        light: rgb(232, 228, 227),
        main: rgb(212, 203, 201, var(--opacity, 100%)),
        dark: rgb(79, 63, 54),
    ),
    secondary: (
        light: rgb(242, 165, 120),
        main: rgb(139 7 11),
        lighterDark: rgb(167, 99, 60),
        dark: rgb(106, 44, 8),
    ),
);
