$color-pure-black: black;
$color-pure-white: white;

$primayBase: #b3e5fc;
$primaryDark: #7da0b0;
$primaryDarker: #004260;
$primaryLight: #c2eafc;

$secondaryBase: #eceff1;
$secondaryDark: #a5a7a8;
$secondaryLight: #eff2f3;
