// $text-sm: 1.1rem;

// $text-md: 1.3rem;

// $text-lg: 1.5rem;

// $text-xl: 1.7rem;

$text-sm: 0.87rem;

$text-base: 1rem;

$text-lg: 1.12rem;

$text-xl: 1.25rem;

// $text-2xl: 1.5rem;
$text-2xl: 2.3rem;

$h-md: 1.2em;
