.carousel {
    grid-area: carousel;
    grid-row: 2 / 3;
    padding-top: 2em;
}

.carousel__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}
