.carousel {
    //display: grid;
    grid-area: carousel;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    //grid-template-columns: 1fr 5fr 1fr;
    //grid-template-rows: subgrid;
}

.carousel-card {
    //grid-row: 1;
    //grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}
