@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/functions/map-deep-get.scss";


.job {
    &__task {
        margin-bottom: 1em;
    }

    &__company {
        margin-block-start: 0.5em;
    }

    h2 {
        margin: 0;
    }

    button {
        border: none;
        color: map-deep-get($colors, 'primary', 'dark');
        background-color: map-deep-get($colors, 'primary', 'main');
        margin: 1em 0;
    }
}

.opacity {
    opacity: 0.75;
}

footer {
    margin-top: 1em;
    font-size: small;
}
