@import "../../assets/styles/variables/breakpoints";
@import "../../assets/styles/variables/text-size.scss";

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    height: 93%;
    overflow: auto;
  }
}

@media all and (max-width: $bp-xl) {
  body {
    font-size: $text-sm;
  }
}

@media all and (min-width: $bp-xl) {
  body {
    font-size: $text-sm;
  }
}

@media all and (min-width: $bp-3xl) {
  body {
    font-size: 1.9rem;
  }
}

//todo:modify font-sizes