@import "../assets/styles/variables/breakpoints";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    height: 93%;
    overflow: auto;
  }
}

@media all and (min-width: $bp-lg) {
  * {
    font-size: 1.3rem;
  }
}

@media all and (min-width: $bp-xl) {
  * {
    font-size: 1.7rem;
  }
}

@media all and (min-width: $bp-xxl) {
  * {
    font-size: 3rem;
  }
}
