@import "../assets/styles/variables/breakpoints";
@import "../assets/styles/variables/text-size";


.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__content {
    height: 93%;
    overflow: auto;
  }
}

@media all and (min-width: $bp-md) {
  body {
    font-size: $text-base;
  }
}

@media all and (min-width: $bp-lg) {
  body {
    font-size: $text-lg;
  }
}

@media all and (min-width: $bp-xl) {
  body {
    font-size: $text-xl;
  }
}

@media all and (min-width: $bp-xxl) {
  body {
    font-size: $text-2xl;
  }
}

// @media all and (min-width: $bp-xxl) {
//   body {
//     font-size: $text-xl;
//   }
// }
