@import "../assets/styles/variables/breakpoints";

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home__content {
  height: 93%;
  overflow: auto;
}

@media all and (min-width: $bp-lg) {
  * {
    font-size: 1.5rem;
  }
}

@media all and (min-width: $bp-sm) {
  * {
    font-size: 1.2rem;
  }
}
