@import "../../assets/styles/variables/colors";
@import "../../assets/styles/variables/breakpoints";
@import "../../assets/styles/functions/map-deep-get.scss";

.navigation {
    height: 9%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: map-deep-get($colors, "primary", "dark");

    &__icon {
        pointer-events: none;
    }

    &__item {
        display: list-item;
        padding-left: 0.5em;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        margin-block: 0;
        height: 100%;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-pure-white;
            padding: 0 0.5em;
            cursor: pointer;
        }
    }

    li:hover {
        background-color: map-deep-get($colors, "secondary", "lighterDark");
    }
    li:has(nav.active) {
        background-color: map-deep-get($colors, "secondary", "dark");
    }
}

@media (min-width: $bp-md) {
    .navigation {
        height: 100%;
        flex-basis: 15%;
        padding-top: 2%;

        &__icon {
            font-size: 1.5rem;
        }

        ul {
            flex-direction: column;
            gap: 5%;
            justify-content: flex-start;

            li {
                padding: 0.5em;
            }
        }
    }
}

@media (max-width: $bp-xs) {
    .navigation {
        font-size: small;
    }
}
