@import "../../assets/styles/variables/colors";
@import "../../assets/styles/variables/breakpoints";
@import "../../assets/styles/functions/map-deep-get.scss";

.navigation {
    height: 9%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: map-deep-get($colors, "primary", "dark");

    &__item {
        display: list-item;
        padding-left: 0.5em;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        li {
            padding: 0 0.5em;
        }
    }

    a,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: $color-pure-white;
    }
}

@media (min-width: $bp-md) {
    .navigation {
        height: 100%;
        flex-basis: 15%;

        ul {
            display: block;
            li {
                padding: 1.2em;
            }
        }
    }
}

@media (min-width: $bp-lg) {
    .navigation {
        ul {
            li {
                padding: 1.5em;
            }
        }
    }
}

@media (min-width: $bp-2xl) {
    .navigation {
        ul {
            li {
                padding: 2em;
            }
        }
    }
}

@media (max-width: $bp-xs) {
    .navigation {
        font-size: small;
    }
}
