@import "../../assets/styles/variables/colors";

.navigation {
    height: 7%;
    width: 100%;
    background-color: $primaryDark;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        li {
            padding: 0 0.5em;
        }
    }

    a,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: $primaryDarker;
    }
}
