@import "../../assets/styles/variables/colors";

.presentation {
    grid-area: presentation;
    grid-row: 1 / 2;

    &__img {
        height: 60%;
        padding: 2%;

        img {
            height: 100%;
            border-radius: 30%;
        }
    }

    &__title {
        height: 40%;
        font-weight: bold;

        p {
            margin: 0;
        }
    }

}

