@import "../../assets/styles/variables/colors";
@import "../../assets/styles/variables/breakpoints";
@import "../../assets/styles/variables/text-size";

.presentation {
    grid-area: presentation;
    grid-row: 1 / 2;

    &__img {
        height: 60%;
        padding: 2%;

        img {
            height: 100%;
            border-radius: 30%;
        }
    }

    &__title {
        height: 40%;
        font-weight: bold;
        font-size: $h-md;

        p {
            margin: 0;
        }
    }
}

// @media all and (min-width: $bp-lg) {
//     .presentation {
//         font-size: $h-md;
//     }
// }
