@import "../../assets/styles/variables/colors";

.presentation {
    grid-area: presentation;
    grid-row: 1 / 2;

    &__img {
        height: 50%;

        img {
            height: 100%;
            border-radius: 30%;
        }
    }

    &__title {
        height: 50%;

        p {
            margin: 0;
        }
    }
}

