@import "../assets/styles/variables/breakpoints";

.home-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  height: 93%;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

@media all and (min-width: $bp-lg) {
  * {
    font-size: 1.5rem;
  }
}

@media all and (min-width: $bp-sm) {
  * {
    font-size: 1.2rem;
  }
}
