@import "../../assets/styles/variables/colors";
@import "../../assets/styles/functions/map-deep-get.scss";

.home {
    height: 100%;
    min-height: 500px;
    min-width: 290px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(0, 2fr) minmax(0, 4fr);

    grid-template-areas:
        "introduction"
        "carousel";

    & > div {
        color: map-deep-get($colors, "primary", "dark");
        text-align: center;
    }
}
