@import "../../assets/styles/variables/breakpoints";

.contact {
    &__list {
        border-top: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        // padding: 0;
        padding: 1rem;
        font-size: 1.3rem;
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;

        li {
            display: inline;
            padding: 0 0.5em;
        }
    }
}

@media all and (min-width: $bp-xl) {
    .contact {
        &__list {
            font-size: 2.3rem;
        }
    }
}

@media all and (min-width: $bp-3xl) {
    .contact {
        &__list {
            font-size: 3.5rem;
        }
    }
}
