@import "../../assets/styles/variables/breakpoints";
@import "../../assets/styles/variables/colors";
@import "../../assets/styles/functions/map-deep-get.scss";


.contact {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 1rem;
        font-size: 1.3rem;
        margin-block-start: 0 !important;
        margin-block-end: 0 !important;
        background-color: map-deep-get($colors, 'primary', 'main');
        li {
            display: inline;
            padding: 0 0.5em;

            a {
                color: map-deep-get($colors, 'primary', 'dark');
            }
        }
    }
}

@media all and (min-width: $bp-xl) {
    .contact {
        &__list {
            font-size: 2rem;
        }
    }
}

@media all and (min-width: $bp-3xl) {
    .contact {
        &__list {
            font-size: 3rem;
        }
    }
}
