//@import "colors";
@import "../../assets/styles/variables/colors";

.introduction {
    height: 100%;
    min-height: 500px;
    min-width: 250px;
    background-color: rgb(181, 184, 178);
    display: grid;
    gap: 16px;
    grid-template-columns: auto;
    grid-template-rows: minmax(0, 2fr) minmax(0, 4fr) minmax(0, 1fr);
    grid-template-areas:
        "presentation"
        "carousel"
        "contact";

    & > div {
        background-color: $color-pure-black;
        color: $color-pure-white;
        text-align: center;
    }
}

