@import "../../assets/styles/variables/breakpoints";
@import "../../assets/styles/variables/colors";
@import "../../assets/styles/functions/map-deep-get.scss";

// The timeline container
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: $color-pure-white;
    color: map-deep-get($colors, "primary", "dark");

    /* The timeline(line) */
    &::after {
        content: "";
        position: absolute;
        width: 5px;
        background-color: map-deep-get($colors, "primary", "dark");
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }
}

/* Media queries*/
@media screen and (max-width: $bp-sm) {
    /* Place the timelime to the left */
    .timeline {
        &::after {
            left: 31px;
            margin-left: 0px; //tocheck added by me
        }
    }
}

@media all and (min-width: $bp-2xl) {
    .timeline {
        max-width: 2000px;
    }
}
