@import "../../../assets/styles/variables/breakpoints";
@import "../../../assets/styles/variables/colors";
@import "../../../assets/styles/functions/map-deep-get.scss";

/* Container around content */
.timeline__card {
    padding: 20px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

    /* The circles on the timeline */
    .circle {
        position: absolute;
        width: 40px;
        height: 40px;
        right: -20px;
        background-color: map-deep-get($colors, "primary", "dark");
        border: 2px solid map-deep-get($colors, "primary", "main");
        top: 15px;
        border-radius: 50%;
        z-index: 1;
        font-size: 2rem;
        color: $color-pure-white;
        text-align: center;
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     width: 25px;
    //     height: 25px;
    //     right: -17px;
    //     background-color: map-deep-get($colors, "primary", "main");
    //     border: 4px solid map-deep-get($colors, "primary", "dark");
    //     top: 15px;
    //     border-radius: 50%;
    //     z-index: 1;
    // }

    /* Place the container to the left */
    &--left {
        left: 0;

        /* Add arrows to the left container (pointing right) */
        &::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid map-deep-get($colors, "primary", "main");
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent map-deep-get($colors, "primary", "dark");
        }
    }

    /* Place the container to the right */
    &--right {
        left: 50%;

        /* Add arrows to the right container (pointing left) */
        &::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid map-deep-get($colors, "primary", "main");
            border-width: 10px 10px 10px 0;
            border-color: transparent map-deep-get($colors, "primary", "dark") transparent transparent;
        }

        /* Fix the circle for containers on the right side */
        .circle {
            left: -20px;
        }
        // .circle {
        //     left: -16px;
        // }
    }
    &-content {
        padding: 15px 25px;
        background-color: $color-pure-white;
        position: relative;
        border-radius: 6px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

        p {
            margin-block-end: 0;
        }
    }
}

/* Media queries*/

@media screen and (max-width: $bp-sm) {
    /* Place the timelime to the left */
    .timeline__card {
        padding-left: 70px;
        padding-right: 20px;
        width: 100%;

        /* Make sure that all arrows are pointing leftwards */
        &::before {
            left: 60px;
            border: medium solid map-deep-get($colors, "primary", "main");
            border-width: 10px 10px 10px 0;
            border-color: transparent map-deep-get($colors, "primary", "dark") transparent transparent;
        }

        /* Make all right containers behave like the left ones */
        &--right {
            left: 0%;
        }

        /* Make sure all circles are at the same spot */
        &--left::after,
        &--right::after {
            left: 15px;
        }
    }
}
