@import "../../assets/styles/variables/colors";

.introduction-container {
    height: 100%;
    background-color: rgb(181, 184, 178);
    display: grid;
    gap: 1em;
    //grid-template: 0.5fr 1fr 5fr 1fr 0.5fr/1rem auto auto auto 1rem;
    grid-template-columns: repeat(3, fr);
    grid-template-rows: 0.5fr 1fr 5fr 1fr 0.5fr;
    grid-template-areas:
        " . presentation ."
        " . carousel ."
        " . contact .";
}

.introduction-container > div {
    background-color: $color-pure-black;
    color: $color-pure-white;
    text-align: center;
    margin: 1rem;
}

