@import "../../assets/sass/variables/colors";

.introduction-container {
    height: 100vh;
    background-color: rgb(181, 184, 178);
    display: grid;
    gap: 1em;
    grid-template: 10% 20% 40% 20% 10%/1rem auto 1rem;
    grid-template-areas:
        " . presentation"
        " . carousel"
        " . contact";
}

.introduction-container > div {
    background-color: $color-pure-black;
    color: $color-pure-white;
    text-align: center;
    margin: 1rem;
    grid-column: 2 / 3;
}
