.education {
    &__institution {
        margin-block-start: 0.5em;
    }

    h2 {
        margin: 0;
    }
}

.opacity {
    opacity: 0.75;
}

footer {
    margin-top: 1em;
    font-size: small;
}
